<div class="amstore-pattern-card-actions">
    <amstore-button [stroked]="true" (click)="getBack()">Назад</amstore-button>
    <amstore-button
        [routerLink]="['edit']"
        [stroked]="true"
        color="accent">Изменить</amstore-button>
</div>

<amstore-pattern-send [pattern]="pattern"></amstore-pattern-send>

<amstore-pattern-card *ngIf="pattern" [data]="pattern">
    <admin-pattern-cart [pattern]="pattern">
        Добавить в корзину админа
    </admin-pattern-cart>
</amstore-pattern-card>
