<div class="amstore-pattern-card-actions">
    <amstore-button [stroked]="true" (click)="getBack()">Назад</amstore-button>
    <amstore-button
        [routerLink]="['/', 'admin', 'patterns', 'edit', id]"
        [stroked]="true"
        color="accent">Изменить</amstore-button>
</div>

<amstore-pattern-send [pattern]="pattern"></amstore-pattern-send>

<amstore-pattern-card *ngIf="pattern" [data]="pattern">
    <amstore-pattern-admin [pattern]="pattern"></amstore-pattern-admin>
</amstore-pattern-card>
