<h1>Войти</h1>

<amstore-forms-input color="primary" type="email" [control]="username" name="username">
    <amstore-forms-label>Адрес почты</amstore-forms-label>
</amstore-forms-input>

<amstore-forms-input color="primary" [type]="passwordType" suffixName="setting" (onSuffixClick)="changePasswordType()" [control]="password" name="password">
    <amstore-forms-label>Пароль</amstore-forms-label>
</amstore-forms-input>

<span *ngIf="error" class="amstore-dialog-login__error">{{error}}</span>

<div class="container">
<div class="row justify-content-between">
    <amstore-button (click)="login()" color="primary">Забыли пароль?</amstore-button>
    <amstore-button (click)="login()" color="accent">Войти</amstore-button>
</div>
</div>
