.paginator-disable {
    background: #cccccc;
}
button {
    border: none;
    cursor: pointer;

    color: white;
    background: #2979FF;

    width: 28px;
    height: 28px;

    border-radius: 14px;

    margin: 0 4px;
}
