<!-- <div *ngIf="profile">
    {{profile.username}}
    {{profile.email}}
    {{profile.godmode ? 'amagod' : 'amalooser'}}
    <button (click)="logout()">Logout</button>
</div>
<div *ngIf="!profile">
    <amstore-auth></amstore-auth>
</div> -->

<ng-container *ngIf="authStatus | async">
    <button amstore-button-round roundSide="left">
        <amstore-icon iconName="profile" [size]="20" [contrast]="true"></amstore-icon>
        Профиль
    </button>
    <button amstore-button-round roundSide="right" (click)="logout()">
        Выйти
        <amstore-icon iconName="registration" [size]="20" [contrast]="true"></amstore-icon>
    </button>
</ng-container>

<ng-container *ngIf="!(authStatus | async)">
    <button amstore-button-round roundSide="left" (click)="login()">
        <amstore-icon iconName="login" [size]="20" [contrast]="true"></amstore-icon>
        Войти
    </button>
    <button amstore-button-round roundSide="right">
        Регистрация
        <amstore-icon iconName="registration" [size]="20" [contrast]="true"></amstore-icon>
    </button>
</ng-container>
