<button amstore-button-round color="primary" (click)="categoryAdd()">
    <amstore-icon iconName="setting" [contrast]="true" [size]="20"></amstore-icon>
    Создать новую
</button>

<amstore-paginated-page (queryEvent)="nextPage($event)" [pageCount]="pageCount">
    <div class="amstore-categories-container">
        <div *ngFor="let item of items" class="amstore-categories-container-row" (click)="categoryEdit(item.id)">
            <div class="amstore-categories-container-col-small">{{item.id}}</div>
            <div class="amstore-categories-container-col-large">{{item.name.ru}}</div>
            <div class="amstore-categories-container-col-large">{{item.name.en}}</div>
            <div class="amstore-categories-container-col-large">{{getDate(item.create_date)}}</div>
        </div>
    </div>
</amstore-paginated-page>
