<h1>Выбранные:</h1>
<div class="amstore-images-edit-list">
    <div *ngFor="let image of selectedImages; index as i" class="amstore-images-edit-list-selected">
        <img [src]="image.image_small">
        <div class="amstore-images-edit-list-actions">
            <amstore-button (click)="previousPosition(i)">
                <amstore-icon iconName="left-arrow" [size]="16" [contrast]="true"></amstore-icon>
            </amstore-button>
            <amstore-button (click)="removeImage(i)">
                -
            </amstore-button>
            <amstore-button (click)="nextPosition(i)">
                <amstore-icon iconName="right-arrow" [size]="16" [contrast]="true"></amstore-icon>
            </amstore-button>
        </div>
    </div>
</div>
<h1>Все:</h1>

<div class="amstore-images-edit-list">
    <div *ngFor="let image of imageList$ | async" class="amstore-images-edit-list-item">
        <img [src]="image.image_small">
        <div class="amstore-images-edit-list-actions">
            <amstore-button color="warn" [disabled]="image.jewelry.length ? false : true">J: {{image.jewelry.length}}</amstore-button>
            <amstore-button color="warn" [disabled]="image.pattern.length ? false : true">P: {{image.pattern.length}}</amstore-button>
            <amstore-button [disabled]="!!image.select" (click)="addImage(image)">
                +
            </amstore-button>
        </div>
    </div>
</div>
<div class="amstore-images-edit-actions">
    <amstore-paginator [page]="page" [pageCount]="pageCount" (goToPageEvent)="goToPage($event)"></amstore-paginator>
    <div>
        <amstore-button (click)="close()" [stroked]="true">Отмена</amstore-button>
        <amstore-button (click)="save()">Сохранить</amstore-button>
    </div>
</div>