<div class="amstore-images">
    <div class="amstore-images-item amstore-images-upload">
        <input type="file" (change)="dropFiles($event.target)" name="uploadimage" #imageInput style="display: none;">
        <img #uploadImage/>
        <button (click)="callInputDialog()">+</button>
        <button (click)="upload()">⤒</button>
    </div>

    <div *ngFor="let image of imageList$ | async" class="amstore-images-item">
        <amstore-image-viewer [image]="image" (deleteItem)="deleteImage($event)"></amstore-image-viewer>
        <p *ngIf="showCheckbox">Выбрано: <input type="checkbox" [checked]="image.select" (click)="select(image)"></p>
        <p>Участие в жгутах: {{image.jewelry.length}}</p>
        <p>Участие в схемах: {{image.pattern.length}}</p>
    </div>
</div>
<amstore-paginator [page]="page" [pageCount]="pageCount" (goToPageEvent)="goToPage($event)"></amstore-paginator>
